/* WeatherForm.css */

form {
  background: linear-gradient(to bottom, #c1d8e7, #3498db);
  padding: 20px 10px 20px 100px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

label {
  display: block;
  align-self: start;
  margin-bottom: 10px;
  color: #fff;
}

input {
  border: 2px solid yellow; 
  margin-left: 10px;
  background-color: #808080;
  color: #fff; 
}




