/* WeatherInfo.css */

.weather-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #3498db, #0066cc); /* Gradient of blue */
  color: #fff;
  height: 100vh;
  padding: 0 100px;
}

.header {
  border-top: 2px solid yellow;
  padding: 10px;
  box-sizing: border-box;
}

.details-container {
  display: flex;
  height: 100%;
  align-items: flex-start; /* Corrected value */
}

.left-column,
.middle-column,
.right-column {
  width: 10%;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 50px;
}

.right-column {
  margin-top: 20px;
  margin-bottom: 20px;
  flex: 1;
  margin-left: 10px;
}

.vertical-line {
  border-left: 4px solid #fff;
  height: 50%;
  margin: 10px 0px; 
}

.row {
  display: flex;
  margin-bottom: 100px;
}

.row p {
  margin: 0;
  margin-left: 150px;
  font-weight: bold;
}

.row .caption {
  font-size: 14px; 
  margin: 0;
  margin-left: 150px;
  font-weight: normal;
}